POSTGRES_DB=myshop_db
POSTGRES_USER=myshop_user
POSTGRES_PASSWORD=securepassword

DATABASE_NAME=myshop_db
DATABASE_USER=myshop_user
DATABASE_PASSWORD=securepassword
DATABASE_HOST=db
DATABASE_PORT=5432
ALLOWED_HOSTS=localhost 127.0.0.1
JWT_SECRET_KEY=xd9f8sdf7sdf8sd9f8sdf7sdf8sd9f8sd9f8sdf7sdf8sd
DJANGO_SECRET_KEY='django-insecure-(ps1^=321q@r1*hs(4*=1nbf5f-j+hva5uu$4a0cn6#0lsavh1'